<tui-root>
  <div class="app__form-wrapper">
    <h1 class="app__h1 tui-text_h1">
      Шифр Цезаря
    </h1>

    <!--      Зашифровка-->
    <h1 class="app__h2 tui-text_h1">
      Зашифровка
    </h1>
    <form [formGroup]="cryptForm">
      <div class="app__encrypt-control">
        <tui-textarea
          formControlName="encrypt"
          [expandable]="true"
          [maxLength]="maxLength"
        >
          Используйте английский или русский алфавит, лишние символы будут стерты!
        </tui-textarea>
        <tui-error
          formControlName="encrypt"
          [error]="[] | tuiFieldError | async"
        />
        <div class="app__m-control">
          <tui-input-number
            formControlName="mEncrypt"
            [tuiNumberFormat]="{ precision: 0 }"
          >
            M - сдвиг по алфавиту
          </tui-input-number>
          <tui-error
            formControlName="mEncrypt"
            [error]="[] | tuiFieldError | async"
          />
        </div>
      </div>



      <button
        class="margin-down"
        iconStart="@tui.arrow-down"
        tuiButton
        type="button"
        [loading]="loading"
        (click)="encrypt()"
      >
        Зашифровать
      </button>

      <div class="app__encrypt-control">
        <tui-textarea
          formControlName="encryptFinish"
          [expandable]="true"
          [maxLength]="maxLength"
        >
        </tui-textarea>
        <tui-error
          formControlName="encryptFinish"
          [error]="[] | tuiFieldError | async"
        />
      </div>

<!--      Расшифровка-->

      <h1 class="app__h2 tui-text_h1">
        Расшифровка
      </h1>
      <div class="app__encrypt-control">
        <tui-textarea
          formControlName="decrypt"
          [expandable]="true"
          [maxLength]="maxLength"
        >
          Используйте английский или русский алфавит, лишние символы будут стерты!
        </tui-textarea>
        <tui-error
          formControlName="decrypt"
          [error]="[] | tuiFieldError | async"
        />
        <div class="app__m-control">
          <tui-input-number
            formControlName="mDecrypt"
            [tuiNumberFormat]="{ precision: 0 }"
          >
            M - сдвиг по алфавиту
          </tui-input-number>
          <tui-error
            formControlName="mDecrypt"
            [error]="[] | tuiFieldError | async"
          />
        </div>
      </div>

      <button
        class="margin-down"
        iconStart="@tui.arrow-down"
        tuiButton
        type="button"
        [loading]="loading"
        (click)="decrypt()"
      >
        Расшифорвать
      </button>

      <div class="app__encrypt-control">
        <tui-textarea
          formControlName="decryptFinish"
          [expandable]="true"
          [maxLength]="maxLength"
        >
        </tui-textarea>
        <tui-error
          formControlName="decryptFinish"
          [error]="[] | tuiFieldError | async"
        />
      </div>

      <!--      Взлом-->
      <h1 class="app__h2 tui-text_h1">
        Взлом
      </h1>
      <div class="app__encrypt-control">
        <tui-textarea
          formControlName="break"
          [expandable]="true"
          [maxLength]="maxLength"
        >
          Используйте английский или русский алфавит, лишние символы будут стерты!
        </tui-textarea>
        <tui-error
          formControlName="break"
          [error]="[] | tuiFieldError | async"
        />
      </div>

      <div class="app__buttons">
        <button
          iconStart="@tui.arrow-down"
          tuiButton
          type="button"
          [loading]="loading"
          (click)="breakCipher()"
        >
          Взлом
        </button>
        <div class="app__right-menu">
          <div class="app__switch-block">

            RU
            <input
              class="app__switch"
              tuiSwitch
              type="checkbox"
              formControlName="language"
            />
            EN
          </div>
        </div>
      </div>

      <div class="app__encrypt-control">
        <div class="app__m-control">
          <tui-input-number
            formControlName="mBreak"
            [tuiNumberFormat]="{ precision: 0 }"
          >
            M - сдвиг по алфавиту
          </tui-input-number>
          <tui-error
            formControlName="mBreak"
            [error]="[] | tuiFieldError | async"
          />
        </div>
        <tui-textarea
          formControlName="breakFinish"
          [expandable]="true"
          [maxLength]="maxLength"
        >
        </tui-textarea>
        <tui-error
          formControlName="breakFinish"
          [error]="[] | tuiFieldError | async"
        />
      </div>
      <div class="app__buttons">
      </div>
    </form>
  </div>
  <router-outlet/>
</tui-root>
