<tui-root>
  <div class="app__form-wrapper">
    <h1 class="app__h1 tui-text_h1">
      Шифр Цезаря
    </h1>

    <!--      Зашифровка-->
    <h1 class="app__h2 tui-text_h1">
      Зашифровка
    </h1>
    <form [formGroup]="cryptForm">
      <div class="app__encrypt-control">
        <tui-textarea
          formControlName="encrypt"
          [expandable]="true"
          [maxLength]="maxLength"
        >
          Введите текст для зашифровки, используйте английский или русский алфавит
        </tui-textarea>
        <tui-error
          formControlName="encrypt"
          [error]="[] | tuiFieldError | async"
        />
      </div>

      <button
        class="margin-down"
        iconStart="@tui.arrow-down"
        tuiButton
        type="button"
        [loading]="loading"
        (click)="shiftTextAndSetControl('encrypt')"
      >
        Зашифровать
      </button>

      <div class="app__encrypt-control">
        <tui-textarea
          formControlName="encryptFinish"
          [expandable]="true"
          [maxLength]="maxLength"
        >
        </tui-textarea>
        <tui-error
          formControlName="encryptFinish"
          [error]="[] | tuiFieldError | async"
        />
      </div>

<!--      Расшифровка-->

      <h1 class="app__h2 tui-text_h1">
        Расшифровка
      </h1>
      <div class="app__encrypt-control">
        <tui-textarea
          formControlName="decryot"
          [expandable]="true"
          [maxLength]="maxLength"
        >
          Введите текст для зашифровки, используйте английский или русский алфавит
        </tui-textarea>
        <tui-error
          formControlName="decryotFinish"
          [error]="[] | tuiFieldError | async"
        />
      </div>

      <button
        class="margin-down"
        iconStart="@tui.arrow-down"
        tuiButton
        type="button"
        [loading]="loading"
        (click)="decrypt()"
      >
        Расшифорвать
      </button>

      <div class="app__encrypt-control">
        <tui-textarea
          formControlName="encrypt"
          [expandable]="true"
          [maxLength]="maxLength"
        >
        </tui-textarea>
        <tui-error
          formControlName="encrypt"
          [error]="[] | tuiFieldError | async"
        />
      </div>

      <!--      Взлом-->
      <h1 class="app__h2 tui-text_h1">
        Взлом
      </h1>
      <div class="app__encrypt-control">
        <tui-textarea
          formControlName="encrypt"
          [expandable]="true"
          [maxLength]="maxLength"
        >
          Введите текст для зашифровки, используйте английский или русский алфавит
        </tui-textarea>
        <tui-error
          formControlName="encrypt"
          [error]="[] | tuiFieldError | async"
        />
      </div>

      <div class="app__buttons">
        <button
          iconStart="@tui.arrow-down"
          tuiButton
          type="button"
          [loading]="loading"
          (click)="decrypt()"
        >
          Взлом
        </button>
        <div class="app__right-menu">
          <div class="app__m-control">
            <tui-input-number
              formControlName="m"
            >
              M - сдвиг по алфавиту
            </tui-input-number>
            <tui-error
              formControlName="m"
              [error]="[] | tuiFieldError | async"
            />
          </div>

          <div class="app__switch-block">

            RU
            <input
              class="app__switch"
              tuiSwitch
              type="checkbox"
              formControlName="language"
            />
            EN
          </div>
        </div>
      </div>

      <div class="app__encrypt-control">
        <tui-textarea
          formControlName="encrypt"
          [expandable]="true"
          [maxLength]="maxLength"
        >
        </tui-textarea>
        <tui-error
          formControlName="encrypt"
          [error]="[] | tuiFieldError | async"
        />
      </div>
      <div class="app__buttons">
      </div>
    </form>
  </div>
  <router-outlet/>
</tui-root>
